// Place all the styles related to the snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
pre {
  background-color: #f7f7f7;
  border: 1px solid #3c3c3c;
  padding: 10px;
  width: 600px;
}
.k {
  color: #ff0000;

}
